<div class="banner_home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://hdqwalls.com/wallpapers/tesla-roadster-2018-4k-25.jpg);">
  <div class="container">
    <h1 class="mb-3">LeafStore</h1>
    <a href="#" class="tesla-btn">Avaliable Products</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
        <span>QWERTY</span>
        <h3>My eggs service</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio provident obcaecati, atque minus architecto excepturi et cumque ea itaque ipsa, rem iusto culpa nisi quas laboriosam quod, commodi tempora ex!</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
        <span>A BIG ICON</span>
        <h3>My eggs service</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio provident obcaecati, atque minus architecto excepturi et cumque ea itaque ipsa, rem iusto culpa nisi quas laboriosam quod, commodi tempora ex!</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
        <span>A BIG ICON</span>
        <h3>My eggs service</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio provident obcaecati, atque minus architecto excepturi et cumque ea itaque ipsa, rem iusto culpa nisi quas laboriosam quod, commodi tempora ex!</p>
      </div>
    </div>
  </div>
</div>
