<div class="banner_home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://hdqwalls.com/wallpapers/tesla-roadster-2018-4k-25.jpg);">
  <div class="container">
    <h1 class="mb-3">LeafStore</h1>
    <%= link_to "Available Products", products_path, class: "tesla-btn" %>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
          <h3>RENT</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores doloribus aliquam voluptas similique possimus aspernatur temporibus quas totam? Autem doloribus deserunt id porro hic, placeat assumenda fuga! Temporibus, debitis, fugit!</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
          <h3>SELL</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio provident obcaecati, atque minus architecto excepturi et cumque ea itaque ipsa, rem iusto culpa nisi quas laboriosam quod, commodi tempora ex!</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
          <h3>BUY</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio rem soluta voluptatem in inventore est impedit quisquam officia porro a quaerat deserunt dicta architecto, omnis tempore excepturi delectus consectetur laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>

