<div class="banner_home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://hdqwalls.com/wallpapers/tesla-roadster-2018-4k-25.jpg);">
  <div class="container">
    <h1 class="mb-3">LeafStore</h1>
    <%= link_to "Available Products", products_path, class: "tesla-btn" %>
  </div>
</div>
