.navbar-lewagon {
  align-content: center;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  list-style: none;
  font-family: Gotham Medium,system,sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: center;
  justify-content: space-between;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
