.navbar-lewagon {
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: center;
  justify-content: space-between;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #212121;
}

.navbar-black {
  background-color: #212121;
}
