.navbar-lewagon {
  align-content: center;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  list-style: none;
  font-family: Gotham Medium,system,sans-serif;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: center;
  justify-content: space-between;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #D3D3D3;
}
